html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.page-wrap
{
    position: relative;
    width: 100%;
}

#wrapper
{
    width: 100%;
}

/* Custom Styles */

/* ---------------
	Navigation
------------------*/

nav#main-nav {
	height: 60px;
    padding: 0 20px;
}

nav#main-nav ul.title-area li.name h1,
nav#main-nav ul.right li a {
	line-height: 60px;
}

nav#main-nav ul.title-area li.name h1 a{
	font-size: 24px;
    font-family: 'Josefin Sans';
    font-weight: 600;
}

nav#main-nav ul.right li a {
	font-size: 16px;
    font-family: 'Open Sans';
}

nav#main-nav ul.right li a:hover {
    background-color: #0090C1;
}

nav#main-nav ul.dropdown li a{
    font-size: 14px;
    padding: 0 20px 0 15px;
    text-align: center;
}

.top-bar-section .has-dropdown > a:after {
    margin-top: 5px;
}

.top-bar-section .has-dropdown:hover > a:after {
    border-color: rgba(255,255,255,1) transparent transparent transparent
}

/* --------------------
    Front: Div#Main
-----------------------*/

body, html {
  height: 100%;
}

div#main.full-width {
    width: 100%;
    height: calc(100vh - 60px);
    height: -o-calc(100vh - 60px); /* opera */
    height: -webkit-calc(100vh - 60px); /* google, safari */
    height: -moz-calc(100vh - 60px); /* firefox */
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    position: relative;
    background-color: #005C7A;
}

div#main div {
    z-index: 2;
}

div#main.full-width::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/main.png') center center;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: 1;
}

div#main h1.title {
    color: #fff;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 72px;
    text-align: center;
    margin: 30px 0 50px 0;
    border-bottom: 4px ridge #fff;
}

/* ------------------------
    Front: ACM Components
---------------------------*/

ul#acm-components {
    background-color: #000;
    border-top: 4px ridge #fff;
    border-bottom: 4px ridge #fff;
    width: 100%;
    text-align: center;
    margin: 0;
}

ul#acm-components li {
    line-height: 0;
    display: inline-block;
    padding: 20px 20px 10px 20px;
    width: calc((100vw / 3) - 20px);
    width: -o-calc((100vw / 3) - 20px); /* opera */
    width: -webkit-calc((100vw / 3) - 20px); /* google, safari */
    width: -moz-calc((100vw / 3) - 20px); /* firefox */
}

ul#acm-components li:first-child {
    margin-left: 30px;
}

ul#acm-components li h2 {
    color: #fff;
    font-family: 'Josefin Sans';
    font-weight: 600;
    border-bottom: 4px ridge #fff;
}

ul#acm-components li p {
    color: #fff;
    font-family: 'Open Sans';
    text-align: left;
    font-size: 20px;
    color: #fff;
}
