/**
 * Global
 */

body {
    background: #01579b; /* light-blue darken-4 */
    position: relative;
    z-index: 1;
}

body:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/svg/circuit.svg'), url('../img/png/circuit.png');
    background-repeat: repeat;
    opacity: 0.2;
}

/* Paragraph Links */

p a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-bottom: 1px dotted #0277bd;
    color: #0277bd; /* light-blue darken-3 */
}

p a:hover {
    color: #039be5; /* light-blue darken-1 */
}

/* Headings */

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin: 0.5rem 0;
    text-align: center;
}

/* Cards */

p {
    font-family: 'Roboto', sans-serif;    
    font-size: 16px;
}

.card hr {
    margin-bottom: 20px;
}

/* Svg's */

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

/* Sticky Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/**
 * Front Page
 */

#home .card {
    margin-top: 1rem;   
}

#front-page-logo {
    padding: 0;
}

#front-page-logo object,
#front-page-logo object img {
    width: 85%;
    padding: 7px 5px 0 5px;
    max-width: 650px;
}

/**
 * Navigation
 */

/* Main */

nav {
    margin-bottom: 15px;
}

nav .brand-logo {
    font-family: 'Open Sans', sans-serif;
}

#nav-main a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.dropdown-button .right {
    margin-left: 5px;
}

#dropdown-about,
#dropdown-projects {
    top: 64px!important;
}

/* Mobile */

#nav-mobile .logo {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    height: 115px;
}

.bold > a {
    font-weight: bold;
}

#nav-mobile .bold {
    line-height: 44px;
}

#nav-mobile .bold a {
    line-height: 44px;
    height: 44px;
}

#nav-mobile .collapsible-accordion {
    background-color: #fff;
}

#nav-mobile li.active,
#nav-mobile li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#nav-mobile .logo:hover {
    background-color: transparent;
}

/**
 * Footer
 */

footer.page-footer {
    padding-top: 0;
    margin-top: 0;
}

#copyright-author {
    font-weight: bold;
}

#more-links object,
#more-links object img {
    width: 32px;
    margin: 9px;
}
