html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.page-wrap
{
    position: relative;
    width: 100%;
}

#wrapper
{
    width: 100%;
}

/* Custom Styles */

/* ---------------------
	Global: Navigation
------------------------*/

nav#main-nav {
	height: 60px;
    padding: 0 20px;
}

nav#main-nav ul.title-area li.name h1,
nav#main-nav ul.right li a {
	line-height: 60px;
}

nav#main-nav ul.title-area li.name h1 a{
	font-size: 24px;
    font-family: 'Josefin Sans';
    font-weight: 600;
}

nav#main-nav ul.right li a {
	font-size: 16px;
    font-family: 'Open Sans';
}

nav#main-nav ul.right li a:hover {
    background-color: #0090C1;
}

nav#main-nav ul.dropdown li a{
    font-size: 14px;
    padding: 0 20px 0 15px;
    text-align: center;
}

.top-bar-section .has-dropdown > a:after {
    margin-top: 5px;
}

.top-bar-section .has-dropdown:hover > a:after {
    border-color: rgba(255,255,255,1) transparent transparent transparent
}

/* ------------------
    Front: Div#Main
---------------------*/

body, html {
  height: 100%;
}

div#main.full-width {
    width: 100%;
    height: calc(100vh - 60px);
    height: -o-calc(100vh - 60px); /* opera */
    height: -webkit-calc(100vh - 60px); /* google, safari */
    height: -moz-calc(100vh - 60px); /* firefox */
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    position: relative;
    background-color: #005C7A;
    z-index: 1;
}

div#main.full-width::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/main.png') center center;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}

div#main h1.title {
    color: #fff;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 72px;
    text-align: center;
    margin: 30px 0 40px 0;
    border-bottom: 4px ridge #fff;
}

/* ------------------------
    Front: ACM Components
---------------------------*/

ul#acm-components {
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 4px ridge #fff;
    border-bottom: 4px ridge #fff;
    width: 100%;
    text-align: center;
    margin: 0;
}

ul#acm-components li {
    line-height: 0;
    display: inline-block;
    padding: 20px 20px 10px 20px;
    width: calc((100vw / 3) - 50px);
    width: -o-calc((100vw / 3) - 50px); /* opera */
    width: -webkit-calc((100vw / 3) - 50px); /* google, safari */
    width: -moz-calc((100vw / 3) - 50px); /* firefox */
}

ul#acm-components li:first-child {
    margin-left: 75px;
}

ul#acm-components li h2 {
    color: #fff;
    font-family: 'Josefin Sans';
    font-weight: 600;
    border-bottom: 4px ridge #fff;
}

ul#acm-components li p {
    color: #fff;
    font-family: 'Open Sans';
    text-align: left;
    font-size: 20px;
    color: #fff;
}

/* -------------------------------
    Front: MailChimp Signup Form
----------------------------------*/

form#mailchimp-form {
    text-align: center;
    margin-top: 20px;
    padding: 0;
}

form#mailchimp-form h2 {
    font-family: 'Josefin Sans';
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    margin: -25px 10px 0 0;
}

form#mailchimp-form fieldset {
    display: inline-block;
    border: none;
    padding: 0;
    vertical-align: middle;
}

form#mailchimp-form div {
    font-family: 'Open Sans';
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: 30px;
    padding: 2px 0;
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: -1;
    top: -30px;
}

.inputFeedback {
    top: 0!important;
    -webkit-transition: top 0.30s ease-in-out;
    -moz-transition: top 0.30s ease-in-out;
    -ms-transition: top 0.30s ease-in-out;
    -o-transition: top 0.30s ease-in-out;
}

form#mailchimp-form input {
    font-family: 'Open Sans';
    width: 200px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    padding-left: 5px;
    margin: 0;
}

form#mailchimp-form input[type="email"] {
    width: 300px;
    padding: 0;
}

.verifiedInput {
    background-color: #CCFFCC!important;
    border: 1px solid #1DA237!important;
    box-shadow: 0 0 10px #1DA237!important;
}

.unverifiedInput {
    background-color: #ffcccc!important;
    border: 1px solid #a2371d!important;
    box-shadow: 0 0 10px #a2371d!important;
}

.verifiedEmail,
.unverifiedEmail {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

form#mailchimp-form input[type="submit"] {
    width: 100px;
    height: 37px;
    padding: 0;
    vertical-align: middle;
    margin: -30px 0 0 0;
}

form#mailchimp-form input[type="submit"]:hover {
    background-color: #1DA237;
}

form#mailchimp-form input[type="submit"]:disabled {
    background-color: #6e6e6e;
}