<footer class="page-footer grey darken-4">
    <div class="footer-copyright">
        <div class="container">
            &copy; 2015 <a class="grey-text text-lighten-4" href="{{ site.url }}">Binghamton ACM</a>
            <div id="more-links" class="right">
                <a id="facebook-icon" class="grey-text text-lighten-4 svg" href="{{ site.facebook-url }}">
                    <span>
                        <object type="image/svg+xml" data="img/svg/facebook.svg"><img src="img/png/facebook.png" /></object>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>