<form id="signup-form" action="//binghamton.us8.list-manage.com/subscribe/post?u=8f8098c6b5647e9c62d33a763&amp;id=251c73f117" method="post" name="mc-embedded-subscribe-form" class="col s12 validate" target="_blank" novalidate>
    <div class="row">
        <div class="input-field col s12 m12 l4">
            <input type="email" value="" name="EMAIL" class="required email validate" id="mce-EMAIL" required="required">
            <div id="email-fdbk"></div>
            <label for="EMAIL">Email</label>
        </div>
        <div class="input-field col s12 m6 l4">
            <input type="text" value="" name="FNAME" class="required validate" id="mce-FNAME" required>
            <div id="fname-fdbk"></div>
            <label for="FNAME">First Name</label>
        </div>
        <div class="input-field col s12 m6 l4">
            <input type="text" value="" name="LNAME" class="required validate" id="mce-LNAME" required>
            <div id="lname-fdbk"></div>
            <label for="LNAME">Last Name</label>
        </div>
        <input style="position: absolute; left: -5000px;" type="text" name="b_8f8098c6b5647e9c62d33a763_251c73f117" tabindex="-1" value="">
        <div class="input-field col s12 m12 l12 center">
            <button id="mc-embedded-subscribe" class="btn waves-effect waves-light" type="submit" name="action">Join
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>