<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

<form id="mailchimp-form" action="//binghamton.us8.list-manage.com/subscribe/post?u=8f8098c6b5647e9c62d33a763&amp;id=251c73f117" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Join the Binghamton ACM</h2>
  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
	<div id="mce-responses" class="clear">
	<div class="response" id="mce-error-response" style="display:none"></div>
	<div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <input style="position: absolute; left: -5000px;" type="text" name="b_8f8098c6b5647e9c62d33a763_251c73f117" tabindex="-1" value="">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>