<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ site.domain }}" class="brand-logo">{{ site.title }}</a>
        <ul id="nav-main" class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="dropdown-about">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/events.html">Events</a></li>
            <li><a href="/contact-us.html">Contact Us</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li class="logo">
                <a id="logo-container" href="{{ site.domain }}" class="brand-logo svg">
                    <object id="front-page-logo" type="image/svg+xml" data="img/svg/nav-logo.svg"><img src="img/png/nav-logo.png" /></object>
                </a>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-light">About Us <i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="{{ site.domain }}/sponsorship.html">Sponsorship</a></li>
                                <li><a href="{{ site.domain }}/eboard.html">The E-Board</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="bold"><a href="{{ site.domain }}/events.html" class="waves-effect waves-light">Events</a></li>
            <li class="bold"><a href="{{ site.domain }}/contact-us.html" class="waves-effect waves-light">Contact Us</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul id="dropdown-about" class="dropdown-content">
    <li><a href="{{ site.domain }}/joining.html">Joining</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.domain }}/sponsorship.html">Sponsorship</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.domain }}/eboard.html">The E-Board</a></li>
    <li class="divider"></li>
</ul>
