<nav id="main-nav" class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <!-- About Us -->
      <li class="has-dropdown">
        <a href="#">About Us</a>
        <ul class="dropdown">
          <li><a href="#">Sponsorship</a></li>
          <li><a href="#">The E-Board</a></li>
        </ul>
      </li>

      <!-- What We Do -->
      <li class="has-dropdown">
        <a href="#">What We Do</a>
        <ul class="dropdown">
          <li><a href="#">Challenges</a></li>
          <li><a href="#">Competitions</a></li>
          <li><a href="#">Past Events</a></li>
        </ul>
      </li>

      <!-- Contact Us -->
      <li><a href="#">Contact Us</a></li>
    </ul>
  </section>
</nav>